extends ../layouts/main

block styles
    link(rel='stylesheet' href='/css/forms.css')

block main-content
    .account_page
        h1.text-center Giriş yap
        if errorMessage
            .alert.error !{errorMessage}
        form(action='/login' method='POST')
            input(type='hidden' name='_csrf' value=`${csrfToken}`)
            input(type='text' name='email' placeholder='E-posta')
            input(type='password' name='password' placeholder='Şifre')
            button.button(type='submit') Giriş yap
        a.mt.flex.flex-center(href='/reset-password') Şifremi unuttum