extends ../layouts/main

block styles
    link(rel='stylesheet' href='/css/forms.css')

block main-content
    .account_page
        h1.text-center Şifreyi sıfırla
        if errorMessage
            .alert.error #{errorMessage}
        form(action='/new-password' method='POST')
            input(type='hidden' name='_csrf' value=`${csrfToken}`)
            input(type='hidden' name='userId' value=`${userId}`)
            input(type='hidden' name='passwordToken' value=`${passwordToken}`)
            
            input(type='password' name='password' placeholder='Yeni şifre')
            button.button(type='submit') Şifreyi sıfırla
        a.mt.flex.flex-center(href='/login') Giriş yap