.slider
    #mainCarousel.carousel.max-w-5xl.mx-auto(class='w-10/12')
        .carousel__slide
            img(class="im lazyload" src=`data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==` data-src='/img/slider/slider5.jpg')
        .carousel__slide
            img(class="im lazyload" src=`data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==` data-src='/img/slider/slider4.jpg')
        .carousel__slide
            img(class="im lazyload" src=`data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==` data-src='/img/slider/slider6.jpg')
        .carousel__slide
            img(class="im lazyload" src=`data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==` data-src='/img/slider/slider7.jpg')
