doctype html
html(lang='tr')
    include ../includes/head
    body
        header
            .container
                include ../includes/navbar
        main
            .container
                block main-content
        footer
            .container
                .copyright
                    span © 2022, Kryex Themes
        block scripts
        include ../includes/foot